$default-font: "Montserrat", sans-serif


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

// Colors
$text: #4f5362
$black: #222328
$white: #ffffff
$gray: #a8acb9
$red: #e21e1e
$green: #43cb83 
$accent: #eff0f4
$second: #4f5362
