// Section Projects styles
section#projects-1
    .section-header h2, p
        color: #4f5362
    .project-item
        margin-bottom: 20px
        img
            margin-bottom: 20px
            border-radius: 5%
        h4.project-name
            font-size: 12px
            font-weight: 300
            line-height: 28px
            text-transform: uppercase
            letter-spacing: 1.2px
            margin-bottom: 40px